<!doctype html>
<html lang="en" ng-app="inventory">

<head>
    <meta charset='UTF-8'>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Shopular</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Montserrat|Nunito|Rubik" rel="stylesheet">
    <link rel="stylesheet" href="lib/styles/main.min.css">
</head>

<body>
    <header>
        <h1>Shopular</h1>
    </header>
    <main>
        <div ng-controller='InventoryController as inventory' class="container">
            <table class='item-container'>
                <caption>Inventory
                    <hr>
                </caption>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Color</th>
                </tr>
                <tr ng-repeat="item in inventory.items | orderBy: 'totalPrice'" class='item-info'>
                    <td>{{item.name}}</td>
                    <td>{{item.totalPrice | currency}} <img ng-show='item.discount' src='images/discount_tag.png' /></td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.color}} </td>
                </tr>
            </table>
            <div class='form-container'>
              <form name='newItemForm' class='item-form' novalidate ng-submit='newItemForm.$valid && addItem()' >
                <ul class='form-fields'>
                  <li><label for='addItem'> Add Item
                  <input name='addItem' id='addItem' ng-model='addItem' ng-required = 'true'></li>
                  <li><label for='addPrice'> Price
                  <input name='addPrice' id='addPrice' type='number' ng-model='addPrice' ng-required = 'true'></li>
                  <li><label for='addQuantity'> Quantity
                  <input name='addQuantity' id='addQuantity' type='number' ng-model='addQuantity' ng-required ='true'></li>
                  <li><label for='addColor'> Color
                  <input name='addColor' id='addColor' ng-model='addColor' ng-required='true'></li>
                  <li><label for='addDiscount'> Discount
                  <input name='addDiscount' id='addDiscount' ng-model='addDiscount' ng-required='true'></li>
                  <li><button class='submit' ng-disabled='newItemForm.$invalid'>Add Item</button></li>
                </ul>
              </form>
            </div>
        </div>
    </main>
    <footer></footer>

    <script src="lib/js/vendor.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="lib/js/app.js"></script>
</body>

</html>
