<!doctype html>
<html lang="en" ng-app="inventory">

<head>
    <meta charset='UTF-8'>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Shopular</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Montserrat|Nunito|Rubik" rel="stylesheet">
    <link rel="stylesheet" href="lib/styles/main.min.css">
</head>

<body>
    <header>
        <h1>Shopular</h1>
    </header>
    <main>
        <div ng-controller='InventoryController as inventory' class="container">
            <table class='item-container'>
                <caption>Inventory
                    <hr>
                </caption>
                <tr>
                    <th><a ng-click="orderByField='name';reverse=!reverse">Item</a></th>
                    <th><a ng-click="orderByField='totalPrice';reverse=!reverse">Price</a></th>
                    <th><a ng-click="orderByField='quantity';reverse=!reverse">Quantity</a></th>
                    <th><a ng-click="orderByField='color';reverse=!reverse">Color</a></th>
                </tr>
                <tr ng-repeat="item in inventory.items | orderBy:orderByField:reverse" class='item-info'>
                    <td>{{item.name}}</td>
                    <td>{{item.totalPrice | currency}} <img ng-show='item.discount' src='images/discount_tag.png' /></td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.color}} </td>
                </tr>
            </table>
            <div class='form-container'>
                <form name='newItemForm' class='item-form' novalidate ng-submit='newItemForm.$valid && inventory.addItem()'>
                    <ul class='form-fields'>
                        <li><label for='name'> Add Item
                  <input name='name' ng-model='inventory.NewItem.name' ng-required = 'true'></li>
                  <li><label for='price'> Price
                  <input name='price' type='number' ng-model='inventory.NewItem.price' ng-required = 'true'></li>
                  <li><label for='quantity'> Quantity
                  <input name='quantity' type='number' ng-model='inventory.NewItem.quantity' ng-required ='true'></li>
                  <li><label for='color'> Color
                  <input name='color' ng-model='inventory.NewItem.color' ng-required='true'></li>
                  <li><label for='discount'> Discount
                  <input name='discount' type='number' ng-model='inventory.NewItem.discount' ng-required='true'></li>
                  <li><button class='submit' ng-disabled='newItemForm.$invalid'>Add Item</button></li>
                </ul>
              </form>
            </div>
        </div>
    </main>
    <footer></footer>

    <script src="lib/js/vendor.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="./node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="lib/js/app.js"></script>
</body>

</html>
