$vspace: 15px;
$hspace: 10px;
//colors
$awesome: #FF1654;
$veryPaleYellow: #F3FFBD;
$seaFoamGreen: #B2DBBF;
$greenSheen: #70C1B3;
$lapisLazuli: #247BA0;
$veryLightGrey: #EAEAEA;
//fonts
$montserrat: 'Montserrat', sans-serif;
$rubik: 'Rubik', sans-serif;
$bree: 'Bree Serif', serif;
$nunito: 'Nunito', sans-serif;
