header {
    h1 {
        font-family: $montserrat;
        font-size: 70px;
        margin: 10px 30px;
        font-weight: bold;
        color: $awesome;
        text-shadow: 2px 2px $seaFoamGreen;
    }
}
